---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - cloudfront-tenant-operator.io
  resources:
  - distributiontenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloudfront-tenant-operator.io
  resources:
  - distributiontenants/finalizers
  verbs:
  - update
- apiGroups:
  - cloudfront-tenant-operator.io
  resources:
  - distributiontenants/status
  verbs:
  - get
  - patch
  - update
